<div id="container" class="root-container">
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item2' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item3' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item4' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item' %>
  <%=render 'dashboard/test/item4' %>
</div>